<header class="site-header">
  <a href="<%= basePath %>" class="site-header__brand">
    <svg class="site-header__mark" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M4 4h6v6H4zM14 4h6v6h-6zM4 14h6v6H4zM14 14h6v6h-6z" />
    </svg>
    bevy_<b>common</b>_systems
  </a>
  <nav class="site-nav" aria-label="Primary">
    <a href="<%= basePath %>">Home</a>
    <a href="<%= basePath %>wiki/">Docs</a>
    <a href="<%= basePath %>play/">Examples</a>
    <a href="https://github.com/alexjercan/bevy-common-systems" target="_blank" rel="noopener"
      >GitHub</a
    >
    <a href="<%= basePath %>wiki/introduction/" class="is-cta">Get started</a>
  </nav>
</header>
